@import "~@material/typography/mdc-typography";

@import "../../colors";

.yo {
  display: flex;
  width: 100%;
  justify-content: center;

  .yo__heading {
    @extend .mdc-typography--headline1;
    color: $primary;
  }
}